.spot-card {
    width: 305px;
    height: 370px;
    /* border: 2px solid red; */
    margin: 10px;
    /* border: 2px solid red; */
    box-sizing: border-box;
    flex: 1;
}

.spot-card-img {
    height: 280px;
    width: 295px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
}
