.review-form-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 15px;
    width: 550px;
    height: 750px;
    top: 120px;
    right: 34%;
    /* padding-top: 30px; */
    /* padding-right: 30px; */
    /* padding-left: 30px; */
    border: 1px solid rgb(160, 154, 154);
    background-color: white;
}

.review-top-bar-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid red; */
    border-bottom: 1px solid rgb(213, 209, 209);
}

.review-x-icon-box {
    position: relative;
    right: 225px
}

#review-x-icon {
    position: relative;
    left: 45px
}

#review-x-icon:hover {
    cursor: pointer;
}

.review-title-box {

}

.review-question-form-box {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.review-box {

}

.review-form-box {
    display: flex;
    flex-direction: column;
}

.review-form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red */
    gap: 9px
}

.review-form > button {
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(244, 60, 94);
    color: white;
}

.review-form > input, textarea {
    border: 1px solid rgb(160, 154, 154);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.login-form > textarea:placeholder {
text-align: center;
transform: translateY(150px);
}

.errors-ul {
    color: red
}
