.edit-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%
}

.edit-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    gap: 25px
}

.edit-text-box {
    align-items: center;
    position: relative;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px
}

.edit-form-box {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 50%;
}

.edit-text-container > h4 {
    color: rgb(63, 63, 63);
    font-weight: 300;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid grey;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.edit-submit-button-fixed {
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(244, 60, 94);
    color: white;
}
