.nav-bar-button {
    width: 80px;
    height: 42px;
    border-radius: 22px;
    display: flex;
    border: 1px solid rgb(206, 203, 203);
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: 0.4s;
}

.nav-bar-button:hover {
    cursor: pointer;
    box-shadow: -1px 5px 5px 0px rgb(0, 0, 0, 0.1);
}

#profile-bars {
    /* border: 2px solid red; */
    padding-left: 10px;
    color: rgb(75, 73, 73)
}

#profile-icon {
    color: grey;
    padding-bottom: 0px
}



.popout-menu {
    background-color: white;
    /* border: 1px solid rgb(225, 222, 222); */
    box-shadow: 5px 5px 5px 0px rgb(0.15, 0.15, 0.15, 0.15);
    border-radius: 10px;
    /* position: fixed; */
    /* padding: 7px; */
    right: 80px;
    top: 10px;
    width: 200px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    /* align-items: center; */
}

.popout-button {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.popout-box {
    display: flex;
    flex-direction: row;
}

.popout-box > span {
    /* padding-right: 100px; */
    padding-left: 10px;
}
